@tailwind base;
@tailwind components;
@tailwind utilities;

/* styling .app for form into center like a normal form */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: bisque;
}
